<body data-turbo="false">
<h1>Bienvenue <%= @first_name %>  </h1>
<br>
<div class="container p-3 my-3 bg-light text-dark border">
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%=@gossip.title%></h4>
    <p class="card-text"><%=@gossip.content%></p>
    <br>
    <p class="card-text"><%=@gossip.created_at%></p>
    <h7 class="card-title">Auteur: <%=  link_to "#{User.find(@gossip.user_id).first_name} #{User.find(@gossip.user_id).last_name} ",dynamic_pages_profile_path(:id => @gossip.user_id) %> </h7>
  </div>
</div>
</div>
</body>